  <table class="table-condensed">
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td><br>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td><br>
  </tr>
  <tr>
      <th><%= f.label(:username) %></th>
      <td><%= f.text_field(:username) %></td><br>
  </tr>
 
</table>
